---
permalink: /
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;url=/docs/getting-started/">
    <link rel="canonical" href="/docs/getting-started/">
</head>
<body></body>
</html>
